/* For setting box-sizing to border-box 
(context-bos is the default) 
With border-box, any border padding added is accounted for in the values specified in an elements width and height*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box; /*set box-sizing to border-box*/
  height: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    328deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(117, 168, 198, 1) 65%,
    rgba(39, 121, 167, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.container {
  width: 800px;
  margin: 4rem auto;
  padding: 4rem;
  background-color: aliceblue;
  line-height: 1.5;
}

#header {
  font-family: "Lucida Handwriting", cursive;
  font-size: 48px;
  text-align: center;
  color: aliceblue;
}

img {
  width: auto;
  height: 14em;
  display: block;
}

.homepage h1,
.homepage a {
  font-weight: bold;
}

.homepage a {
  font-size: 1.4em;
  text-decoration: none;
  font-style: italic;
}

.container div {
  display: inline-block;
  padding: 0.5em;
  text-align: center;
}

div p.caption {
  width: min-content;
  min-width: 100%;
  text-align: left;
}
