html {
  height: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    328deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(117, 168, 198, 1) 65%,
    rgba(39, 121, 167, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-size: 22px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  text-align: center;
  font-style: italic;
}

li img {
  width: auto;
  height: 11em;
  display: block;
}

li {
  display: inline-block;
  padding: 0.5em;
  text-align: center;
}

h1,
a {
  font-weight: bold;
  color: white;
}
